/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/public/uploads/*
/public/neptrip/.sass-cache/*
/public/uploads/carousel/*
/public/uploads/images/*
/public/uploads/images/gallery/*
/public/uploads/images/hotel/*
/public/uploads/images/hotel/rooms/*
/public/uploads/images/restaurant/*
/public/uploads/images/tour/*
/public/uploads/images/venue/*
/public/uploads/images/vehicle/*
site.env
.env
TODO